/* global style definition */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: #2a3647;
    --light-blue: #29abe2;
    --bg-color: #f6f7f8;
    --white: #ffffff;
}