@font-face {
	font-family: "Inter";
	src: url("../assets/fonts/Inter.ttf") format("truetype");
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: url("../assets/fonts/Inter-Italic.ttf") format("truetype");
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
}
