.content {
  margin-top: 96px;
  margin-left: 232px;
  height: calc(100vh - 96px);
  padding: 8px 40px 40px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.help-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.help-header {
    font-size: 24px;
    font-weight: bold;
}
.help_icon {
    font-size: 24px;
    font-weight: bold;
}
h2 {
  margin-bottom: 20px;  
}
.paragraph_1 {
  margin-bottom: 20px;
}
.block {
  display: flex;
  align-items: stretch;
  gap:40px;
}

@media (max-width: 992px) {
  .content {
    position: fixed;
    top: 80px;
    right: 0;
    bottom: 80px;
    left: 0;
    margin: 0;
    padding: 8px 16px 20px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
}
