.content {
  margin: 300px;
  margin-top: 120px;
}
.help-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.help-header {
    font-size: 24px;
    font-weight: bold;
}
.help_icon {
    font-size: 24px;
    font-weight: bold;
}