:root {
    --dark-blue: #2a3647;
    --light-blue: #29abe2;
    --bg-color: #f6f7f8;
    --bg-color-secondary: #38485e;
    --white: #ffffff;
}

body {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 96px;
    background-color: var(--white);
    border-bottom: 1px solid #d1d1d1;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

header h2 {
    margin: 0;
    padding: 36px 348px;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    font-weight: 400;
    vertical-align: middle;
}

.header-btn {
    position: absolute;
    top: 20px;
    right: 40px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.profile-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border: 3px solid #2A3647;
    border-radius: 50%;
    background-color: white;
    color: #29ABE2;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.help-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 232px;
    height: 100vh;
    background-color: #2A3647;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

aside > img {
    width: 100px;
    height: 122px;
    margin-top: 64px;
}

.sidebar-navigation {
    display: flex;
    flex-direction: column;
    margin-top: 114px;
    margin-bottom: auto;
    width: 100%;
}

.sidebar-navigation-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 15px;
    height: 46px;
    padding-left: 56px;
    justify-content: center;
}

.sidebar-navigation-item:hover {
    background-color: var(--bg-color-secondary);
}

.sidebar-navigation-item.active {
    background-color: #091931;
}

.sidebar-navigation-item a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: lighter;
    width: 100%;
}

.sidebar-navigation-item a img {
    width: 30px;
    height: 30px;
}

.sidebar-legal-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
    gap: 8px;
    width: 100%;
}

.sidebar-legal-links .nav-links a {
    display: flex;
    align-items: center;
    color: #A8A8A8;
    text-decoration: none;
    font-size: 16px;
}

.sidebar-legal-links .nav-links .active-links:not(.active)a:hover {
    color: var(--light-blue);
    font-weight: 600;
}

.sidebar-legal-links .nav-links .active-links.active a {
    color: var(--light-blue);
    font-weight: 600;
}

.nav-links {
    display: flex;
    align-items: center;
    height: 35px;
    width: 100%;
}

.active-links {
    width: 100%;
}

.active-links.active {
    background-color: #091931;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.center .nav-links a {
    padding-left: 56px;
}

.help-btn:hover {
    transform: scale(1.15);
}

.profile-btn:hover {
    background-color: rgb(232, 232, 232);
}