aside {
    width: 232px;
    height: 100vh;
    background-color: #2A3647;
}

aside img {
    width: 100px;
    height: 122px;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

ul img {
    margin-right: 10px;
    height: 30px;
    width: 30px;
    vertical-align: middle;
}