aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 232px;
    height: 100vh;
    background-color: #2A3647;
    padding-top: 64px;
}

.nav-container {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.nav-container a {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 32px;
}

.privacy-container {
    margin-top: auto;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}