.editor_divider {
    width: 1px;
    height: 380px;
    background: #d1d1d1;
}

.editor_wrapper {
    display: flex;
    align-items: center;

    gap: 48px;
}

.task_header {
    font-size: 27px;
    margin: 0;
}

.new_task {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 440px;
}

.left_row {
    display: flex;
    flex-direction: column;
    max-width: 440px;
    gap: 6px;
}

.left_row label {
    font-size: 20px;
    font-weight: 400;
    color: #2A3647;
    margin-bottom: 4px;
}

.left_single_row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
    
    width: 100%;
    
    background-color: #ffffff;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
}

.left_single_row img {
    padding-right: 16px;
    padding-left: 16px;
}

.left_single_row input,
.left_single_row textarea,
.settings_block select,
.settings_block input {
    flex: 1;
    font-size: 20px;
    
    padding: 12px 16px;
    
    border: none;
    border-radius: 10px;
}

.left_single_row input::placeholder,
.left_single_row textarea::placeholder,
.settings_block select::placeholder,
.settings_block input::placeholder {
    color: #D1D1D1;
}

.left_single_row textarea {
    height: 120px;
    resize: none;
    padding-top: 12px;
}

.calendar_icon {
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #2A3647;
    pointer-events: none;
}

.error_text {
    font-family: Poppins, sans-serif;
    font-size: 12px;
    color: #FF3D00;
    margin-top: 4px;
}

.task_settings {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 440px;
}

.settings_block {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

/* PRIORITY */
.priority_row {
    display: flex;
    gap: 12px;
}

.prio {
    flex: 1;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
}

.urgent {
    color: #ff3d00;
}

.medium {
    color: #ffab00;
}

.low {
    color: #7ae229;
}

.prio.active {
    background: #ffab00;
    color: white;
    border: none;
}

/* FOOTER */
.task_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 56px;
}

.error {
    color: red;
    font-size: 14px;
}

.footer_actions {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.clear_btn {

    display: flex;
    align-items: center;
    gap: 4px;

    height: 56px;
    padding: 0px 16px;

    border-radius: 10px;
    border: 1px solid #2A3647;
    background: #F6F7F8;

    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #2A3647;

    cursor: pointer;
}

.create_btn {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0px 16px;
    border-radius: 10px;
    background: #2A3647;

    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;

    border: none;
    cursor: pointer;

    transition:
        transform 100ms ease-in-out,
        box-shadow 100ms ease-in-out;
}

.create_btn:active {
    transform: scale(0.96);
    box-shadow: 0 1px 0 #1f2936;
}