/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f6f7f8;
  padding: 20px;

  min-height: auto !important;
}

.board-container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 180px;
}

.board-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 2rem;
  color: #333;
}

.search-add {
  display: flex;
  gap: 10px;
}

.search-add input {
  padding: 5px 10px;
  font-size: 1rem;
}

.add-task {
  padding: 5px 15px;
  background-color: #2a3647;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.board {
  display: flex;
  gap: 20px;
}

.column {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 15px;
  min-width: 250px;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.column h2 {
  margin-bottom: 15px;
  font-size: 1.2rem;
  color: #2a3647;
}

.task-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.empty-msg {
  color: #999;
  font-style: italic;
  text-align: center;
  margin-top: 20px;
}
